syntax: glob
*~
*.pyc
*.orig
*.pb.cc
*.pb.h
*.trace
*.tmp
.*.swp
.libs/
.deps/
#*
.#*
*_pkg.py
.fuse_*
.DS_Store
local/
proto_gen/
thrift_gen/

.idea/workspace.xml
.idea/tasks.xml

background/cockroach/cockroach
background/cockroach/cockroach_bench
background/cockroach/*_test
background/cockroach/build_config.mk

clients/ios/.idea/
clients/ios/DerivedData/
xcuserdata/

*.xcodeproj/
*.xccheckout

eclipse/backend-project/.settings
.tox
.vagrant
viewfinder.egg-info/*
hg_revision.txt
.coverage
htmlcov
build

backend/resources/static/.webassets-cache
backend/resources/static/gen

clients/android/experimental/hello/.idea/
clients/android/experimental/hello/bin/
clients/android/experimental/hello/gen/
clients/android/experimental/hello/hello.iml
clients/android/experimental/hello/libs/*/*.so
clients/android/experimental/hello/local.properties
clients/android/experimental/hello/proguard-project.txt

clients/android/bin/
clients/android/gen/
clients/android/out/
clients/android/libs/*/*.so
clients/android/libs/*/gdb.setup
clients/android/libs/*/gdbserver
clients/android/local.properties
clients/android/proguard-project.txt
clients/android/res/xml/properties.xml

clients/ios/testing/data/cookies.txt
clients/ios/testing/.project
clients/ios/testing/.pydevproject
clients/ios/testing/js/.project
clients/ios/testing/js/.settings
clients/ios/testing/js/control/*
clients/ios/testing/html/summary_results.html
clients/ios/testing/results/archive/
clients/ios/testing/results/current/
clients/ios/testing/snapshots/Media.backup
clients/ios/testing/snapshots/Library/AddressBook.backup

# Ignore gyp-generated android makefiles. We can't ignore all .mk files yet, we still have some hand-crafted ones.
*.mk
clients/shared/*.mk
clients/android/jni/viewfinder.target.mk
