{% extends "base.html" %}
{% block title %}Viewfinder Copyright{% end %}
{% block page_class %}secondary copyright{% end %}
{% block page_id %}copyright{% end %}

{% block content %}



    <div id="secondary-container" class="full_panel">
			
			<div class="content_frame">
				<div class="copy_holder">

				<h2 id="title">Copyright Policy</h2>
				<div class="separator"></div>
				<p>Here at Viewfinder, we respect the intellectual property rights of others. We expect our users to do the same. We are committed to helping third parties protect their rights. Accordingly, it is Viewfinder policy to disable, terminate, deactivate, or suspend the accounts of users who repeatedly infringe, or are repeatedly alleged to have infringed copyrights or other intellectual property rights of others. Viewfinder, in its sole discretion, will determine the appropriate course of action in those circumstances.</p>
				<p>In accordance with the Digital Millennium Copyright Act of 1998, Viewfinder will respond promptly to claims that infringing content is present on the Viewfinder website (the “site”) or mobile application (the “app”) that are reported to Viewfinder’s Designated Copyright Agent, identified below.</p>
				<p>If you are a copyright holder, or are authorized to act on behalf of a copyright holder, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the site or the app by completing a DMCA Notice of Alleged Infringement and delivering it to Viewfinder’s Designated Copyright Agent. The Notice must include the following information:</p>
				<ul>
				<li>The identity of the copyright you claim has been infringed. If multiple copyrights are covered by the Notice, you may provide a representative list of the works you claim have been infringed. The representative list must contain sufficient information for Viewfinder to identify all those works you claim have been infringed.</li>
				<li>The identity of (i) the material that you claim is infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link shown on the site where such material may be found, and (ii) the reference or link, to the material or activity that you claim to be infringing, that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate that reference or link, including at a minimum, if applicable, the URL of the link shown on the Site where such reference or link may be found.</li>
				<li>Your mailing address, telephone number, and email address.</li>
				<li>Both of the following statements:
				<ul>
				<li>"I hereby state that I have a good faith belief that the disputed use of the copyrighted material or reference or link to such material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."</li>
				<li>"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</li>
				</ul>
				</li>
				<li>Your full name and your electronic or physical signature.</li>
				</ul>
				<p>Deliver the Notice, with all the above completed, to Viewfinder’s Designated Copyright Agent:</p>
				<p>Harry S. Clarke, III<br>
				Viewfinder Copyright Agent<br>
				Viewfinder<br>
				636 Broadway, Suite 620<br>
				New York, NY 10012<br>
				<a href="mailto:copyright@emailscrubbed.com">copyright@viewfinder.co</a><br></p>
				<p>Upon receipt of the Notice, Viewfinder will take appropriate action to delete or remove the challenged material from the site and/or app.</p>
				<h4 class="h4 semidark">If You Receive a DMCA Notification:</h4>
				<p>If you receive notice that a photo or other User Content that you have made available on either the site or the app has been removed due a copyright complaint, it means that the content has been deleted from Viewfinder at the request of the Content’s owner. If your account receives too many copyright complaints, you may lose the ability to make Content available on Viewfinder. Indeed, at Viewfinder’s sole discretion, we may terminate, deactivate, suspend, or otherwise disable your account in the event of repeat copyright complaints.</p>
				<p>If you believe your Content was removed in error, you have the option to file a counter-notice by following the steps below. When we receive a valid counter-notice, we will forward a copy to the person who filed the original complaint. If we do not receive notice within 10 business days that the party that submitted the original complaint is seeking a court order to prevent further infringement of the content at issue, we will remove the complaint from your account’s record, and we may, in our sole discretion, replace the content that was removed.</p>
				<p>Important Note: There are legal and financial consequences for fraudulent and/or bad faith submissions. Before submitting a counter-notice, be sure that you are the actual rights holder of the User Content removed or that you have a good faith belief that the material was removed in error, and understand the repercussions of submitting a false claim.</p>
				<h4 class="h4 semidark">How to File a Counter-Notice</h4>
				<ul>
					<li>Reply to the notification email you received.</li>
					<li>Include ALL of the following:
					<ul>
					<li>Your name, address, and telephone number.</li>
					<li>The DMCA ID printed at the bottom of the notification email.</li>
					<li>The source address of the content that was removed (copy and paste the link contained in the notification email).</li>
					<li>A statement under penalty of perjury that you have a good faith belief that the content was removed in error.</li>
					<li>A statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located, or if your address is outside of the United States, for any judicial district in which Viewfinder may be found, and that you will accept service of process from the person who provided the original complaint or an agent of such person.</li>
					<li>A physical or electronic signature (for example, your type-written full name).</li>
					</ul>
					</li>
				</ul>	
				
				</div>
			</div>


    </div>



{% end %}






