{% extends "base.html" %}
{% block title %}Viewfinder FAQ{% end %}
{% block page_class %}secondary faq{% end %}
{% block page_id %}faq{% end %}

{% block content %}


 <div id="secondary-container" class="full_panel">

		<div class="content_frame">

				<div class="copy_holder">
			


        <h2 id="title">Frequently Asked Questions</h2>
        <div class="separator"></div>

		<h3>Welcome to Viewfinder. Below you will find answers to our most frequently asked questions.</h3>
		
		<ul class="faq-toc">
			<li><a href="#">How do I sign up or create an account? </a></li>
			<li><a href="#">Why is Viewfinder asking to access my photos?</a></li>
			<li><a href="#">How do I share photos/start a conversation?</a></li>
			<li><a href="#">How do I add photos/people to a conversation?</a></li>
			<li><a href="#">How do I add contacts?</a></li>
			<li><a href="#">Can I share with a friend, even if I don't know if they're on Viewfinder yet?</a></li>
			<li><a href="#">Can I unshare photos I posted in a Conversation?</a></li>
			<li><a href="#">What is the difference between Mute and Remove?</a></li>
			<li><a href="#">Can I exit a Conversation?</a></li>
			<li><a href="#">Can I export what's shared with me to my camera roll?</a></li>
			<li><a href="#">Can I terminate my account?</a></li>
			<li><a href="#">Hidden gems...</a></li>
		</ul>
		

		
		
		
		
				
				
        <ul class="faq-list">
            
            <li class="faq-item">
                <h3 class="question h3 semidark">How do I sign up or create an account?</h3>
                <p>Download Viewfinder from the iTunes App Store.  Enter your name, either your email address or mobile number and a password. We will follow up with confirmation for security purposes. Now you're just moments away from enjoying Viewfinder—<a href="https://www.viewfinder.co/app">get started here</a>.
                </p>
            </li>
            
						
            <li class="faq-item">
                <h3 class="question h3 semidark">Why is Viewfinder asking to access my photos?</h3>
                <p>A Conversation in Viewfinder is a visually rich way to communicate and socialize with the people you want to talk to. Sharing your photos is a big part of that. Viewfinder doesn’t send your photos anywhere until you do.
                </p>
			</li>


            <li class="faq-item">
                <h3 class="question h3 semidark">How do I start a Conversation or share a photo?</h3>
                <p>Simply tap the compose icon at the bottom of the home screen. Pick a subject, add people and photos and you’re off and running. You can also take a photo in the moment and immediately share it to a new or existing Conversation. Viewfinder Conversations can be about anything -- the latest party, an inside joke, or your vacation -- anything. It is an innovative space where you can be yourself and be creative. 
                </p>
            </li>
			
			
            <li class="faq-item">
                <h3 class="question h3 semidark">How do I add photos/people to a conversation?</h3>
                <p>Tap the “+” icon on the bottom left, next to the “Add Message” field.
                </p>
            </li>


            <li class="faq-item">
                <h3 class="question h3 semidark">How do I add contacts?</h3>
                <p>Tap the “Contacts” icon at the bottom-left of the home screen. From there tap the “Add Contacts” icon in the top right corner.  Type in your friend's email or phone number to add them to your list of contacts. You can also import your Facebook, Gmail or iPhone contacts. To make it easier for others to find you, add all your email addresses or mobile numbers in your profile.  
                </p>
                <p><i>Pro Tip:  You can put a friend’s email or phone number in the “To” field of a conversation to add them as well.</i>
                </p>
            </li>

						
            <li class="faq-item">
                <h3 class="question h3 semidark">Can I share with a friend, even if I don't know if they're on Viewfinder yet?</h3>
                <p>Yes! You can share with friends who aren't on Viewfinder yet by adding their email or mobile number to a Conversation. That friend will get an email or text providing a link where he or she can comment on the conversation. The link will also invite the new user to download Viewfinder so they can share photos and create Conversations of their own.
                </p>
            </li>

						
            <li class="faq-item">
                <h3 class="question h3 semidark">Can I unshare photos I posted in a Conversation?</h3>
                <p>You can unshare photos in a Conversation within 7 days of adding them. Simply select your photo, choose 'unshare,' and watch it disappear. Oversharers beware: on the 8th day it's forever.</p>
            </li>

            <li class="faq-item">
              <h3 class="question h3 semidark">What is the difference between Mute and Remove?</h3>
              <p>“Mute” will turn off push notifications for that particular Conversation. It’s a great way to turn down the noise in a fun conversation that you may want to revisit later. You will still be able to see new content upon entering the app. So next time you’re in a meeting and you don’t want the boss to see all the updates to your “Last Night” convo, mute it.</p>
              <p>“Remove” deletes a Conversation from your Inbox. However, just like an email, if new content is added to that Conversation it will reappear.</p>
              </p>
            </li>
            
            <li class="faq-item">
              <h3 class="question h3 semidark">Can I exit a Conversation?</h3>
              <p>You can exit a conversation by removing yourself from the list of participants. Beware -- this way its gone for good. Press the “Add People” icon, find your name and hit the little “x”.
              </p>
              <p><i>Pro Tip:  You can also remove participants that you have added for up to 7 days.  Accidentally added the wrong person? This feature will save the day.</i>
              </p>
            </li>						
	    
            
            <li class="faq-item">
                <h3 class="question h3 semidark">Can I export what's shared with me to my camera roll?</h3>
                <p>Of course. The export function exists under the “Select” button in the top right corner of a Conversation and your photo library.  This can also be done from any single image view.
                </p>
            </li>
						
            <li class="faq-item">
                <h3 class="question h3 semidark">Can I terminate my account?</h3>
                <p>If you'd like to terminate your account, send an email to support@emailscrubbed.com and we'll delete your information from our database. We'd be sad to see you go, so please let us know if there's anything we can do to alleviate your current frustration.
                </p>
            </li>

            <li class="faq-item">
                <h3 class="question h3 semidark">Hidden gems...</h3>
                <p>From your Profile page, press and hold your photo background to choose a new picture.</p>
                <p>In your home screen or in the photo library, press and hold the left side of the interface to activate the Dial to search through old Conversations and photos.</p>
                <p>In your home screen or photo library, press and hold the right side of the interface to engage the jump-scroll -- hold down and use your thumb to move quickly by date or time.</p>
                <p>Swipe two fingers up or down simultaneously to pop to the bottom or top of your inbox or photo library.</p>
            </li>

        </ul>
		
		
				</div>
			

		</div>


    </div>




{% end %}
