{% extends "base.html" %}
{% block title %}Viewfinder{% end %}
{% block page_class %}homepage{% end %}
{% block page_id %}homepage{% end %}

{% block content %}

<div id="home_hero" class="full_panel">
	<div class="bkgd_img"></div>
	<div class="bkgd_img_off"></div>
	<div class="bottom_gradient"></div>
	<div class="content_frame">
		<h2>Create Conversations<br/> for any moment.</h2>
		<a href="https://www.viewfinder.co/app" class="download gradient" target="_blank">Download the app</a>
	</div>
</div>

<div id="organized_panel" class="full_panel tour_panel">
	<div class="content_frame">
		<div class="stream_holder">
			<div class="img_holder">
				<img src="/static/marketing/images/iPhone-Image-for-Control-Conversation.png" width="100%" class="imgwid_100 stream_image" />
			</div>
		</div>
		<div class="copy">
			<h3>Control the Conversation</h3>
			<ul>
				<li class="organized">
					<h4>Know Your Audience</h4>
					<p>Say and share what you want because you control the audience.</p>
				</li>
				<li class="searchable">
					<h4>Share Anything</h4>
					<p>The visually-inspired Conversation is the perfect place to share any experience, from the special to the silly.</p>
				</li>
				<li class="private">
					<h4>Change the Convo</h4>
					<p>Powerful features put you in control so you can add more friends, mute loud convos, and remove people you've added mistakenly.</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="organized_panel_2" class="full_panel tour_panel">
	<div class="content_frame">
		<div class="stream_holder">
			<div class="img_holder">
				<img src="/static/marketing/images/iPhone-Image-for-Better-Share.png" width="100%" class="imgwid_100 stream_image" />
			</div>
		</div>
		<div class="copy">
			<h3>A better way<br/>to share.</h3>
			<p>It’s 2013. You’re communicating with images in realtime. So why does your inbox still look so drab? <br/><br/>Your Viewfinder Inbox provides a rich window into the creative collaborations that make up your life.</p>
		</div>
	</div>
</div>

<div id="dial_panel" class="full_panel">
	<div class="bkgd_img">
    <video id="dial_bkgd_video" class="video-js vjs-default-skin"
           preload="auto" width="100%" 
           data-setup='{ "controls":false }'>
      <source src="/static/marketing/video/_iPhone_black_angle_resize_v04_H264.mp4" type='video/mp4' />
      <source src="/static/marketing/video/_iPhone_black_angle_resize_v04_H264.webm" type='video/webm' />
      <source src="/static/marketing/video/_iPhone_black_angle_resize_v04_H264.ogv" type='video/ogg' />
     </video>
	</div>
	<div class="content_frame_abs">
		<div class="content_frame">
			<h2>Dial through your photos.</h2>
			<p>Find your favorites by date or location &mdash;<br />it's the simplest way to travel back in time.</p>

		</div>
	</div>
</div>

<div id="other_panel" class="full_panel tour_panel">
	<div class="content_frame">
		<div class="divider"><div class="dot"></div></div>
		<h3>And more...</h3>
		<ul>
			<li>
				<div class="other_icon"><img src="/static/marketing/images/tour/other_icon_everyone@2x.png" width="88" /></div>
				<div class="copy">
					<h4>Everyone</h4>
					<p>Want to share with friends not on Viewfinder? Use their email or mobile to include them in the Conversation.</p>
				</div>
			</li>
			<li class="even">
				<div class="other_icon"><img src="/static/marketing/images/tour/other_icon_everywhere@2x.png" width="88" /></div>
				<div class="copy">
					<h4>Everywhere</h4>
					<p>Don't have an iPhone? Viewfinder makes your Conversations accessible on the web. Register to view photos and add comments.</p>
				</div>
			</li>
			<li>
				<div class="other_icon"><img src="/static/marketing/images/tour/other_icon_unshare@2x.png" width="88" /></div>
				<div class="copy">
					<h4>Unshare</h4>
					<p>Didn't mean to send that photo? Only want to send it for a moment? Use our Unshare feature to pull it back within seven days.</p>
				</div>
			</li>
			<li class="even">
				<div class="other_icon"><img src="/static/marketing/images/tour/other_icon_search@2x.png" width="88" /></div>
				<div class="copy">
					<h4>Search</h4>
					<p>Search locations, people, titles, or just words from a convo to find any Conversation or photos instantly.</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="download_panel" class="full_panel">
	<h2>Share without a care.</h2>
	<div class="download_holder">
		<a href="https://www.viewfinder.co/app" class="download" target="_blank">Download the app</a><br />
	</div>
		
		<div class="clear"></div>
</div>


{% end %}
