{% extends "base.html" %}
{% block title %}Tour | Viewfinder{% end %}
{% block page_class %}tour{% end %}
{% block page_id %}tour{% end %}

{% block content %}



<div id="tour_intro_panel" class="full_panel tour_panel resize_clear">
	<div class="content_frame">
		<div class="detail_holder detail_inbox resize_clear">
			<h4><img src="/static/marketing/images/tour/icon_inbox@2x.png" width="29" height="29" /> Inbox</h4>
			<h3>Your place to communicate.</h3>
			<p>Viewfinder's Inbox is your communication center. Each Conversation is as unique as the photos and dialogue within it, so when you're scrolling back through Conversations moments or months later, you remember the photos, the feelings, and the context.</p>
						<a href="#" class="close">Close</a>
			<div class="detail_mask resize_clear"></div>
		</div>
		<div class="detail_holder detail_library resize_clear">
			<h4><img src="/static/marketing/images/tour/icon_library@2x.png" width="28" height="24" /> Library</h4>
			<h3>Your place to recollect.</h3>
			<p>Finding a favorite photo shouldn't be a chore, so Viewfinder made it simple. Activate the Dial to scroll through your collection by time or location, or press and hold the right side to jump through years. With accessibility and organization from the start, sharing just got easier.</p>
						<a href="#" class="close">Close</a>
			<div class="detail_mask resize_clear"></div>
		</div>
		
		<div class="intro_copy resize_clear">
			<h2>A new way to save and share your photos.</h2>
			<p>Viewﬁnder pairs real communication with intuitive photo organization. The result is beautiful accessibility and unparalleled sharing.</p>
			<a href="https://www.viewfinder.co/app" class="download gradient" target="_blank">Download the app</a>
			<div class="continue_tour">Continue the tour<br /><img src="/static/marketing/images/tour/continue_arrow@2x.png" width="19" /></div>
			<div class="copy_mask resize_clear"></div>
		</div>
		<div class="divider"><div class="dot"></div></div>
		
			<div class="iphone_holder tour_iphone_library resize_clear">
				<div class="caption_holder resize_clear">
					<div class="copy">
						<h4><img src="/static/marketing/images/tour/icon_library@2x.png" width="28" height="24" /> Library</h4>
						<p>Organized by time and place, Viewfinder's Library lets you find the exact photos you're looking for in seconds.</p>
						<a href="#" class="learn_more">Learn more</a>
					</div>
					<div class="dot"></div>
				</div>
				<div class="iphone">
					<img src="/static/marketing/images/Home-01-iPhone-Frame.png" class="imgwid_100" width="100%" />
					<div class="screenshot"><img src="/static/marketing/images/tour/Tour-01-iPhone-Library.jpg" class="imgwid_100" width="100%" /></div>
				</div>
				
			</div>
			<div class="iphone_holder tour_iphone_inbox resize_clear">
				<div class="caption_holder resize_clear">
					<div class="copy">
						<h4><img src="/static/marketing/images/tour/icon_inbox@2x.png" width="29" height="29" /> Inbox</h4>
						<p>Your Inbox organizes all your Conversations, so you can talk and share with who you want, when you want.</p>
						<a href="#" class="learn_more">Learn more</a>
					</div>
					<div class="dot"></div>
				</div>
				<div class="iphone">
					<img src="/static/marketing/images/Home-01-iPhone-Frame.png" class="imgwid_100" width="100%" />
					<div class="screenshot"><img src="/static/marketing/images/tour/Tour-01-iPhone-Inbox.jpg" class="imgwid_100" width="100%" /></div>
				</div>
			</div>
		
		
	</div>
</div>
      




<div id="sharing_panel" class="full_panel tour_panel">
	<div class="content_frame">
		<h3>Sharing made simple.</h3>
		<p>Viewfinder makes it easy to share what you want with who you want.</p>
		<ul>
			<li class="step start">
				<img src="/static/marketing/images/tour/Tour-02-Convo-Pullouts-Start@2x.jpg" width="213" class="screenshot" />
				<div class="copy">
					<h4><img src="/static/marketing/images/tour/icon_start_white@2x.png" width="30" /> Start</h4>
					<p>Add a title, add people, add photos. That's it.</p>
				</div>
			</li>
			<li class="arrow">
				<img src="/static/marketing/images/tour/tour_arrow@2x.png" width="44" class="right" />
				<img src="/static/marketing/images/tour/tour_arrow_down@2x.png" width="102" class="down" />
			</li>
			<li class="step share">
				<img src="/static/marketing/images/tour/Tour-02-Convo-Pullouts-Share@2x.jpg" width="213" class="screenshot" />
				<div class="copy">
					<h4><img src="/static/marketing/images/tour/icon_share_white@2x.png" width="29" /> Share</h4>
					<p>You can include as many or as few photos as you want to. You're always in control of what you share.</p>
				</div>
			</li>
			<li class="arrow arrow2">
				<img src="/static/marketing/images/tour/tour_arrow@2x.png" width="44" class="right" />
				<img src="/static/marketing/images/tour/tour_arrow_down@2x.png" width="102" class="down" />
			</li>
			<li class="step save">
				<img src="/static/marketing/images/tour/Tour-02-Convo-Pullouts-Save@2x.jpg" width="241" class="screenshot" />
				<div class="copy">
					<h4><img src="/static/marketing/images/tour/icon_save_white@2x.png" width="25" /> save</h4>
					<p>When your friends share photos, Star them to save them to your Library and keep what's important.</p>
				</div>
			</li>
		</ul>
	</div>
</div>





<div id="organized_panel" class="full_panel tour_panel">
	<div class="content_frame">
		<div class="stream_holder">
			<div class="img_holder">
				<img src="/static/marketing/images/tour/Tour-03-Photo-Stream.jpg" width="100%" class="imgwid_100 stream_image" />
			</div>
		</div>
		<div class="copy">
			<h3>Your photos, organized.</h3>
			<ul>
				<li class="organized">
					<h4><img src="/static/marketing/images/tour/icon_organize@2x.png" width="25" /> Organized</h4>
					<p>Your photos are arranged by time and place, so you know exactly where they are.</p>
				</li>
				<li class="searchable">
					<h4><img src="/static/marketing/images/tour/icon_search@2x.png" width="24" /> Searchable</h4>
					<p>With the Dial and jump scroll, finding the photo you're looking for is easy and fast.</p>
				</li>
				<li class="private">
					<h4><img src="/static/marketing/images/tour/icon_private@2x.png" width="19" /> Private</h4>
					<p>The photos in your Library are always private and secure until the moment you decide to share them.</p>
				</li>
			</ul>
		</div>
	</div>
</div>


<div id="conversation_panel" class="full_panel tour_panel">
	<div class="content_frame">
		<div class="phone_list_holder">
			<ul class="phone_list">
				<li class="iphone_holder phone0 resize_clear current" id="convo_phone0" data-index="0">
					<div class="bkgd_img"><img src="/static/marketing/images/Home-01-iPhone-Frame.png" width="100%" class="imgwid_100 iphone" /></div>
					<div class="screenshot"><img src="/static/marketing/images/tour/Tour-01-iPhone-Convo-Intro.jpg" class="imgwid_100" width="100%" /></div>
				</li>
				<li class="iphone_holder phone1 resize_clear" id="convo_phone1" data-index="1">
					<div class="bkgd_img"><img src="/static/marketing/images/Home-01-iPhone-Frame.png" width="100%" class="imgwid_100 iphone" /></div>
					<div class="screenshot"><img src="/static/marketing/images/tour/Tour-01-iPhone-Convo-Example-A.jpg" class="imgwid_100" width="100%" /></div>
				</li>
				<li class="iphone_holder phone2 resize_clear" id="convo_phone2" data-index="2">
					<div class="bkgd_img"><img src="/static/marketing/images/Home-01-iPhone-Frame.png" width="100%" class="imgwid_100 iphone" /></div>
					<div class="screenshot"><img src="/static/marketing/images/tour/Tour-01-iPhone-Convo-Example-B.jpg" class="imgwid_100" width="100%" /></div>
				</li>
				<li class="iphone_holder phone3 resize_clear" id="convo_phone3" data-index="3">
					<div class="bkgd_img"><img src="/static/marketing/images/Home-01-iPhone-Frame.png" width="100%" class="imgwid_100 iphone" /></div>
					<div class="screenshot"><img src="/static/marketing/images/tour/Tour-01-iPhone-Convo-Example-C.jpg" class="imgwid_100" width="100%" /></div>
				</li>
				<li class="iphone_holder phone4 resize_clear" id="convo_phone4" data-index="4">
					<div class="bkgd_img"><img src="/static/marketing/images/Home-01-iPhone-Frame.png" width="100%" class="imgwid_100 iphone" /></div>
					<div class="screenshot"><img src="/static/marketing/images/tour/Tour-01-iPhone-Convo-Example-D.jpg" class="imgwid_100" width="100%" /></div>
				</li>
			</ul>		
		</div>
		<div class="caption resize_clear">
			<div class="copy current" id="convo_caption0">
				<h3>Have a conversation.</h3>
				<p>Whether it's one-on-one messaging with your best friend, sharing real-time photos at your favorite event, or staying in touch with family across the country, Viewfinder lets you connect differently with every kind of person in your life. </p>
				<p>Finally - communication isn't just a transaction, it's a Conversation.</p>
								<div class="caption_mask"></div>
			</div>
			<div class="copy" id="convo_caption1">
				<h3>Get Together.</h3>
				<p>There’s no better way to make sure that everyone at the party, wedding, or random get-together will have all the photos from the event than by starting a conversation on Viewfinder.</p>
								<div class="caption_mask"></div>
			</div>
			<div class="copy" id="convo_caption2">
				<h3>Show and Tell.</h3>
				<p>Share experiences even when you're apart. Viewfinder is the easiest way to use imagery and words to tell your story; a powerful way to keep in touch with family and friends.</p>
								<div class="caption_mask"></div>
			</div>
			<div class="copy" id="convo_caption3">
				<h3>Share a Perspective.</h3>
				<p> See something interesting, hilarious, or just plain cool? Start a Conversation and invite your friends - they might just have something to add to the mix. Single theme, multiple perspectives. </p>
								<div class="caption_mask"></div>
			</div>
			<div class="copy" id="convo_caption4">
				<h3>Check it twice.</h3>
				<p>Home decor, restaurants to try, labels of your favorite wines - Viewfinder provides a dynamic way to keep track of the things you need to. Take a photo, add it to the Conversation. Lists just got a lot more interesting.</p>
								<div class="caption_mask"></div>
			</div>
			
			<div class="convo_nav">
				<div class="top_rule">
					<div class="dot"></div>
				</div>
				<ul class="convo_nav_list">
					<li class="left_arrow"><a href="#"></a></li>
					<li class="right_arrow"><a href="#"></a></li>
				</ul>
			</div>
		</div>
		

		<div class="clear"></div>
	</div>
</div>



<div id="download_panel" class="full_panel tour_panel">
	<h2>Your photos, all in one place.</h2>
	<div class="download_holder">
		<a href="https://www.viewfinder.co/app" class="download" target="_blank">Download the app</a>
		<a href="#" class="watch_demo gradient">Watch the video <img src="/static/marketing/images/watch_demo_icon@2x.png" width="21" height="16" class="icon" /></a>
	</div>
	
		<div class="clear"></div>
</div>

<div id="tour_video_overlay">
	<script src="//www.youtube.com/iframe_api" type="text/javascript"></script>
	<div id="dial_video_holder" data-ratio="1.77777777777778"></div>
	<script type="text/javascript">
	var demo_video;
	function onYouTubeIframeAPIReady() {}			
	</script>		

	<a href="#" class="close"><img src="/static/marketing/images/close_icon.png" width="50%" /></a>
</div>


{% end %}
