<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-80.png</string>
		<string>Icon-120.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>co.viewfinder.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb260133567413905</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb177219665705543</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>co.viewfinder</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>viewfinder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>115</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>Viewfinder uses your location to link photos to the places where they were taken. It's cool.</string>
	<key>UIAppFonts</key>
	<array>
		<string>DIN.ttf</string>
		<string>ProximaNova-Bold-VF.ttf</string>
		<string>ProximaNova-Reg-VF.ttf</string>
		<string>ProximaNova-RegIt-VF.ttf</string>
		<string>ProximaNova-Sbold-VF.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>location-services</string>
		<string>still-camera</string>
		<string>wifi</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
