Fuzzy==1.0
boto==2.3.0
cssmin==0.1.4
futures==2.1.3
guppy==0.1.10
iso8601==0.1.4
jsmin==2.0.2-1
lockfile==0.9.1
meld3==0.6.9
mock==1.0b1
numpy==1.7.0b2
phonenumbers==5.6b1
picoparse==0.9
plop==0.1.1
pyasn1==0.1.2
pycrypto
pycurl==7.19.0
python-daemon==1.5.5
python-dateutil==1.5
python-keyczar==0.71b
s2==0.2
spritemapper==1.0.0
superlance==0.7
supervisor==3.0b1
tornado==3.2.dev2
toro==0.5
validictory==0.9.0
vobject==0.8.1c
webassets==0.8
wsgiref==0.1.2
