<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name = "viewport" content = "width = device-width, height = device-height, initial-scale = 1" />
    <meta name="apple-itunes-app" content="app-id=552351851" />

    <title>{% block title %}Viewfinder{% end %}</title>
    <script type="text/javascript" src="{{ static_url('js/third_party/jquery.js') }}"></script>
    <script type="text/javascript" src="//use.typekit.net/dup1ddu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
      $(document).ready(function() {
        // For mobile browsers (iphone), scroll past the location bar.
        /mobi/i.test(navigator.userAgent) && setTimeout(
          function () { window.scrollTo(0, 1); }, 1);
      });

      {% block script_content %}
      {% end %}
    </script>
  </head>

  <body class="{% block page_class %}{% end %}">
    {% block body %}
    {% module Header() %}
    {% block content %}
    {% end %}
    <!-- For graying out entire background -->
    <div id="opaque" class="mask"></div>
    {% end %}
  </body>
</html>
