{% extends "beta.html" %}

{% block beta %}
<p><span class="h4 dark">Congratulations</span>. We have a limit of
100 users that we can sign up to receive the pre-release version of
our iPhone application and you've made the cut. With great power,
however, comes great responsibility. We're not sending this to you
just because we like you. Well that too...but also because we expect
your help in fixing the bugs and improving the
product. <span class="semidark">We'd like to extend you the invite
to participate if you:</span></p>

<ul class="semidark">
<li>Have an iPhone</li>
<li>Will sign a Non-Disclosure Agreement (NDA)</li>
<li>Will use the product regularly to take and share photos</li>
<li>Will give constructive feedback;
 <span class="dark">"it doesn't work"</span> won't cut it</li>
</ul>

<p>We don't like legalese anymore than you do. But trust us, the
product is worth the effort; and that's why this stuff actually
matters.<p>

<p>If you're still game, click the button below. On the next page,
fill in your mailing address, read the NDA, and agree to its
terms.</p>


<div class="separator"></div>
<div class="center t"><a class="button" href="{{uri}}?continue=True">I'll sign whatever you want. Stop wasting my time</a></div>
{% end %}
