{% extends "square_base.html" %}
{% block content %}
      <h1>
        We are thrilled to announce that the Viewfinder team is joining <a href="http://corner.squareup.com/2013/12/viewfinder-joins-square.html">Square</a>.
      </h1>
      <p>
        Over the years, we've had the privilege of working with some of the very talented folks who are now at Square. Square is already well known for its world-class engineering and design, but in recent months we've gotten to know much more about Square the company: its vision, its team, and most crucially, its engineering culture.
      </p>
      <p>
        The reality behind the reputation is better yet. All of that talent is focused on the mission to make commerce easy -- a big challenge and an even bigger opportunity. We love how Square keeps engineering novel solutions to problems people didn't imagine could be fixed. Their products have already helped millions of local businesses, and the future is more exciting still. We knew Square was the place for us.
      </p>
      <p>
        We’ve always been proud of our New York City roots, so it's great to see Square's contribution to fulfilling the city’s promise as a world capital for technology. We’re excited to help Square build out its NYC office. With its deep tradition in finance, a burgeoning tech scene, and more than 200,000 small businesses in just 300 square miles, the greatest city in the world is a perfect fit for Square.
      </p>
      <p>
        As for Viewfinder, existing users will still be able to use the Viewfinder app for the time being, although we will no longer be releasing updates or providing customer support.
      </p>
      <p>
        It's been a joy to create Viewfinder. We are grateful to our investors, advisors, partners, and most importantly, our users. Your support and feedback made Viewfinder possible. And collectively through Viewfinder, we've captured countless memories, bringing us closer together with friends and family.
      </p>
      <p>
        For press inquiries, please contact <a href="mailto:press@squareup.com">press@squareup.com</a>.
      </p>
      <p>
        Thanks,
        </br>The Viewfinder team
      </p>
    </div>
    <div id="footer">
      2013 Viewfinder.  All rights reserved.  
      View our <a href="/terms">Terms</a> and <a href="/privacy">Privacy</a>.
    </div>
  </div>
  <div id="background" class="photo cropped">
  </div>
</body>
{% end %}
