{% extends "square_base.html" %}
{% block content %} 

  <h2>Help / Faq</h2>
  <h1>How do I sign up or create an account?</h1>
<p>
  You won’t be able to download the app anymore, but existing users will still be able to use the Viewfinder app for the time being, although we will no longer be releasing updates or providing customer support.
</p>
<h1>Can I terminate my account?</h1>
<p>
  If you'd like to terminate your account, send an email to <a href="mailto:support@emailscrubbed.com">support@viewfinder.co</a> and we'll delete your information from our database.
</p>
<h1>How can I export my data from the service?</h1>
<p>
  Stay tuned. We will have a data export tool in place in the coming weeks so you can download your photos and conversations.
</p>

{% end %}
