{% extends "beta.html" %}

{% block beta %}
<p>The next steps are as follows. We know they're complicated, but
that's Apple's fault. We're annoyed too.</p>

<ol>
<li>Follow <a class="important" href="http://bit.ly/JLJ9qG">this link</a> to sign up for a Test Flight account</li>
<li>Once you have entered your information and registered, Test Flight will send you an email</li>
<li>From your iPhone, open the email, click the login link (<i>from your iPhone!</i>)</li>
<li>On login, you should see, <i>This device will need to be registered before it can access BETAs</i></li>
<li>Click <i>Register Device</i></li>
<li>It will prompt you to install a profile: click the <i>Install</i> button</li>
<li>You will return to the <i>Register Device</i> screen; the initial signup is complete</li>
</ol>

<p>You will receive an email from Test Flight allowing you to download the Viewfinder app.</p>

<p>Still having problems? Here's a
detailed <a class="important" href="/static/pdf/TestFlightInstallationGuide.pdf">step-by-step
guide</a> with screenshots</p>

<p>Again, congratulations and thanks for participating. We're very
excited to make Viewfinder a reality and we sincerely appreciate your
help.</p>

<p class="dark">The Viewfinder team</p>

<div class="separator"></div>
<div class="center"><a class="button" href="/">Return to Viewfinder</a></div>
{% end %}
